.capn-color {
    background-color: #1E3A77 !important;
}

.capn-color .lighten-1 {
    background-color: #224288 !important;
}

.capn-color .lighten-2 {
    background-color: #2D57B2 !important;
}

.capn-color .lighten-3 {
    background-color: #3C74EE !important;
}

html, body {
    cursor: default;
    overflow-x: hidden;
}
