#logo {
    height: 3rem;
}

@media screen and (max-width: 575px) {
    .container {
        margin: 0 !important;
    }
}

#facebook-logo {
    width: 2rem;
    background-color: white;
}

.navbar > a {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.nav-item {
    margin-left: 0.5rem !important;
}

.navbar-toggler-right {
    margin-top: .25rem;
}
