<div *ngIf="!loaded" class="container row justify-content-center"><mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner></div>
<div *ngIf="loaded" class="container">
    <h2>Programmation {{ programName }}</h2>
    <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3 capn-color'" [contentClass]="'card blue-grey lighten-5'">

        <mdb-tab *ngFor="let category of categories" [heading]="category.name">
            <mdb-squeezebox [multiple]="true" aria-multiselectable="true">
                <mdb-item  *ngFor="let subcategory of category.subcategories">
                    <mdb-item-head class="blue-grey lighten-5"> {{ subcategory.name }} </mdb-item-head>
                    <mdb-item-body class="blue-grey lighten-5">
                        <div class="row"> 

                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let activity of subcategory.activities">
                                <div class="card activity">
                                    <div class="card-body z-depth-1-half">
                                        <h4 class="card-title">{{ activity.name }}</h4>
                                        <hr>
                                        <p class="card-text">
                                            <span *ngIf="context.placesLeft">
                                                Places restantes:
                                                {{ activity.spotsRemaining > 5 ? 'Plus de 5' : (activity.spotsRemaining < 0 ? 0 : activity.spotsRemaining) }}
                                                <br>
                                            </span>
                                            <span *ngIf="context.age">
                                                Age: {{ activity.age }}
                                                <br>
                                            </span>
                                            <span *ngIf="context.price">
                                                    Prix: {{ activity.price }}$
                                            </span>
                                        </p>
                                        <button
                                            *ngIf="context.shop"
                                            type="button"
                                            class="btn btn-primary waves-light"
                                            mdbRippleRadius>Plus de détails</button>
                                    </div>
                                </div>
                            </div> 

                        </div>
                    </mdb-item-body>
                </mdb-item>
            </mdb-squeezebox>
        </mdb-tab>

    </mdb-tabset>
</div>