<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm"></div>
  <div class="col-sm">
    <button class="btn btn-primary btn-block" (click)="save()">Sauvegarder</button>
  </div>
</div>
<quill-editor [modules]="options"
              (onEditorCreated)="onEditorCreated($event)">
</quill-editor>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm"></div>
  <div class="col-sm">
    <button class="btn btn-primary btn-block" (click)="save()">Sauvegarder</button>
  </div>
</div>
