<div class="site-wrapper">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/logo_bleu_rev.svg" alt="logo" id="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
          <a class="nav-link">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="coursDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cours
          </a>
          <div class="dropdown-menu" aria-labelledby="coursDropdownMenuLink">
            <a class="dropdown-item">Cours pour enfants</a>
            <a class="dropdown-item">Cours pour adultes</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="clubDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Club de compétition
          </a>
          <div class="dropdown-menu" aria-labelledby="clubDropdownMenuLink">
            <a class="dropdown-item">Natation</a>
            <a class="dropdown-item">Nage synchronisée</a>
            <a class="dropdown-item">Sauvetage sportif</a>
            <a class="dropdown-item">Maitres nageurs</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Camp de jour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active">Formations de sauvetage</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
  <nav class="footer bg-primary text-white">
    <div class="row">
      <div class="col-sm">
        <div>&copy; 2017 Tout droits réservés.</div>
        <div>Site conçu par Sébastien Chagnon</div>
        <br>
      </div>
      <div class="col-sm">
        <div>Contact</div>
        <div>Politiques du club</div>
        <div>Emploi</div>
        <div>Conseil d'administration</div>
      </div>
    </div>
  </nav>
</div>
