<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <img src="/assets/logo_bleu_rev.svg" alt="logo" class="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="coursDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cours
        </a>
        <div class="dropdown-menu" aria-labelledby="coursDropdownMenuLink">
          <a class="dropdown-item">Cours pour enfants</a>
          <a class="dropdown-item">Cours pour adultes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="clubDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Club de compétition
        </a>
        <div class="dropdown-menu" aria-labelledby="clubDropdownMenuLink">
          <a class="dropdown-item">Natation</a>
          <a class="dropdown-item">Nage synchronisée</a>
          <a class="dropdown-item">Sauvetage sportif</a>
          <a class="dropdown-item">Maitres nageurs</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Camp de jour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Formations de sauvetage</a>
      </li>
    </ul>
  </div>
</nav>
