.logo {
    height: 3rem;
}

.navbar > a {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.nav-item {
    margin-left: 1.5rem !important;
}

.navbar-toggler-right {
    margin-top: .25rem;
}

.container {
    margin-top: 4rem;
}
