<div class="site-wrapper">
  <app-navbar></app-navbar>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
  <nav class="footer bg-primary text-white">
    <div class="row">
      <div class="col-sm">
        <div>&copy; 2017 Tout droits réservés.</div>
        <div>Site conçu par Sébastien Chagnon</div>
        <br>
      </div>
      <div class="col-sm">
        <div>Contact</div>
        <div>Politiques du club</div>
        <div>Emploi</div>
        <div>Conseil d'administration</div>
      </div>
    </div>
  </nav>
</div>
