.small-gap {
    margin: 0.25rem auto !important;
}

.large-gap {
    margin: 0.5rem auto !important;
}

.card {
    margin-bottom: 0.5rem;
}

.new-page {
    text-align: center;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    color: black;
}

.card {
    margin: 1rem 0;
}

h5 {
    margin: 0 !important;
}